<h1> Stupid Coaching</h1>

<form action="/answer">
  <label>Ask your Stupid Coach anything: </label>
  <input class = "textbox" type="Text" name="questions">
  <input type="submit" class = "btn" value="Ask!">
</form>
